header{
    background-color: chartreuse;
    height:60px;
    margin:-8px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}

.header-title{
    color:#fff;
    font-size:25px;
    margin:15px 25px;

}

button{
    float: ;
    height:30px;
    
}

main{
    text-align: center;
    background-color: cornsilk;
    margin-top:20px;

}