<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI髪型判定ログイン</title>
  <link rel='stylesheet' href='./static/login.css'>
</head>
<body>

{% extends 'base.html' %} {% block content %}
<header>
  <h1>AI髪型判定アプリ</h1>
</header>
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-50 p-b-90">
      <form
        class="login100-form validate-form flex-sb flex-w"
        method="POST"
      >
        <span class="login100-form-title p-b-51"> 名前とパスワードでログインしてください </span>
        <div
          class="wrap-input100 validate-input m-b-16"
          data-validate="Username is required"
        >
          <input
            class="input100"
            type="text"
            name="username"
            placeholder="Username"
          />
          <span class="focus-input100"></span>
        </div>
        <div
          class="wrap-input100 validate-input m-b-16"
          data-validate="Password is required"
        >
          <input
            class="input100"
            type="password"
            name="password"
            placeholder="Password"
          />
          <span class="focus-input100"></span>
        </div>
        <div class="flex-sb-m w-full p-t-3 p-b-24">
          <div>
            <a href="{{ url_for('register')}}" class="txt1">アカウント登録へ</a>
          </div>
        </div>
        <div class="container-login100-form-btn m-t-17">
          <button class="login100-form-btn">Login</button>
        </div>
      </form>

      {% if message=="login_fail" %}
      <br />
      <br />
      <p>ログインに失敗しました</p>

      {% else %} {% endif %}
    </div>
  </div>
</div>
<footer>
</footer>
</body>
</html>
{% endblock %}
